.RadioButtonList {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap; }

.RadioButtonList-choice {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-items: center;
  cursor: default;
  margin-bottom: 16px; }
  .RadioButtonList-choice:not(:last-child) {
    margin-right: 24px; }

.RadioButtonList-choiceRadioButton {
  flex: 0 0 auto;
  margin-right: 16px; }

.RadioButtonList-choiceLabel {
  flex: 1 0 'auto';
  white-space: nowrap;
  color: #1A6FD1; }
