@import "../variables";
@import "../common";

.TextField {
	position: relative;
}

.TextField-input {
	height:  48px;
	width:   100%;
	padding: $padding-input;

	background: $bg-color-input;
	color:      $fg-color-input;

	border:     none;
	box-shadow: $shadow-input;
}

.TextField-invalid {
	position: absolute;
	top:      0;
	bottom:   0;
	right:    $padding-xs;

	@extend %Field-invalid;
}