@import "./variables";

%Screen {
	flex: 1 0 0;
	@include flex-column;
}

%Screen-buttons {
  margin-top: $padding-l;

	@include flex-row;
	align-items:     center;
	justify-content: center;

	> :not(:last-child) {
		margin-right: $padding-m;
	}
}

%Field-invalid {
	@include flex-center;

	&::after {
		display: block;
		content: 'x';
		color:   $fg-color-error;
	}
}